body{
    font-family: 'Roboto Slab', serif;
}

.HeaderDiv{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.842);
    color: rgba(255, 255, 255, 0.925);
}

.Heading{
    font-size: 400%;
}

.secondHeading,.Heading{
    padding-left: 30%;
}

.ItemContainer{
    margin-top: 6%;
}

button.btn.btn-secondary.btn-sm{
    margin-left: 10px;
}

body
{
    font-family: 'Bree Serif', serif !important;
}

.buynowBtn{
    margin-top: 50px;
    margin-left: 120px; 
}